parameters:
    paths:
        - src
    level: 1
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Access to an undefined property#'
        - '#Call to an undefined static method#'
