.button-generic {
    @apply px-4 py-2 font-semibold text-center rounded transition-default;
}

.button-primary {
    @apply text-white button-generic bg-theme-primary-600;
}

.button-primary:hover {
    @apply bg-theme-primary-700 shadow-button-primary;
}

.button-primary:disabled,
.button-secondary:disabled,
.button-cancel:disabled,
.button-icon:disabled,
.button-icon-rounded:disabled,
.button-disabled,
a.disabled {
    @apply shadow-none cursor-not-allowed pointer-events-none bg-theme-secondary-200 text-theme-secondary-400;
}

.theme-dark .button-primary:disabled,
.theme-dark .button-secondary:disabled,
.theme-dark .button-cancel:disabled,
.theme-dark .button-icon:disabled,
.theme-dark .button-icon-rounded:disabled,
.theme-dark .button-disabled,
.theme-dark a.disabled {
    @apply bg-theme-secondary-800 text-theme-secondary-700;
}

.button-secondary {
    @apply button-generic bg-theme-primary-100 text-theme-primary-500;
}

.button-cancel {
    @apply button-generic bg-theme-danger-100 text-theme-danger-400;
}

.button-icon {
    @apply button-secondary;
}

.button-icon-primary,
.button-icon {
    @apply flex items-center justify-center p-0;
}

.button-icon-primary {
    @apply button-primary;
}

.button-icon-rounded {
    @apply button-icon rounded-xl;
}
.theme-dark .button-icon,
.theme-dark .button-icon-rounded,
.theme-dark .button-secondary {
    @apply bg-theme-secondary-800 text-theme-secondary-200;
}

.button-icon:hover,
.button-secondary:hover,
.button-icon-rounded:hover {
    @apply text-white bg-theme-primary-700 shadow-button-secondary;
}
.theme-dark .button-icon:hover,
.theme-dark .button-icon-rounded:hover,
.theme-dark .button-secondary:hover {
    @apply bg-theme-primary-700 text-theme-secondary-200;
}

.button-icon-primary:hover {
    @apply bg-theme-primary-700 shadow-button-primary;
}

.button-cancel:hover {
    @apply text-white bg-theme-danger-400;
}

a.button-generic,
a.button-primary,
a.button-secondary {
    @apply inline-block;
}

.button-pagination-page-indicator {
    @apply px-2 py-2 font-semibold text-center transition-default bg-theme-primary-100 text-theme-primary-500;
}

.theme-dark .button-pagination-page-indicator {
    @apply bg-theme-secondary-800 text-theme-secondary-200;
}

.button-pagination-page-indicator--selected {
    @apply button-pagination-page-indicator bg-theme-primary-200;
}

.theme-dark .button-pagination-page-indicator--selected {
    @apply button-pagination-page-indicator bg-theme-secondary-600 text-theme-secondary-200;
}

.button-pagination-page-indicator:hover:not(.button-pagination-page-indicator--search) {
    @apply text-white rounded bg-theme-primary-700;
    transform: scale(1.2);
}

.theme-dark .button-pagination-page-indicator:hover {
    @apply bg-theme-primary-600;
}

.theme-dark .button-primary:hover,
.theme-dark .button-secondary:hover,
.theme-dark .button-icon:hover,
.theme-dark .button-icon-rounded:hover,
.theme-dark .button-icon-primary:hover {
    @apply shadow-none;
}
