/** Dropdowns **/
.dropdown-button-outline {
    @apply bg-transparent border border-solid rounded border-theme-secondary-200;
}

.dropdown-entry {
    @apply flex items-center w-full px-8 py-4 font-medium leading-5 text-left transition duration-150 ease-in-out;
}

.dropdown-entry:hover {
    @apply text-theme-secondary-900 bg-theme-secondary-100;
}
.theme-dark .dropdown-entry:hover {
    @apply text-white bg-theme-primary-600;
}

.dropdown-entry-selected {
    @apply text-theme-danger-400 bg-theme-danger-100;
}
.theme-dark .dropdown-entry-selected {
    @apply text-white bg-theme-danger-400;
}

/** Dropdown Scrollbar **/
.dropdown-scrolling::-webkit-scrollbar {
    @apply rounded-lg;
    width: 6px;
    height: 4px;
}

.dropdown-scrolling::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

.dropdown-scrolling::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-theme-primary-200;
}

.dropdown-scrolling {
    scrollbar-color: #bad6f0 transparent;
}

/** Tabs **/
.tabs {
    @apply px-8 mb-8 font-semibold rounded-lg select-none bg-theme-secondary-100;
}
.theme-dark .tabs {
    @apply bg-black;
}

.tab-item {
    @apply relative pt-8 ml-16 whitespace-no-wrap border-b-4 border-transparent cursor-pointer pb-7;
}
.tab-item:first-child {
    @apply ml-0;
}
.tab-item-current,
.tab-item:hover {
    @apply text-theme-secondary-900 border-theme-primary-600;
}

.theme-dark .tab-item:hover {
    @apply text-theme-secondary-600;
}
.theme-dark .tab-item-current,
.theme-dark .tab-item:hover {
    @apply text-theme-secondary-200;
}

.tab-item::before {
    content: "";
    @apply absolute left-0 h-6 -ml-8 border-l border-theme-secondary-300;
}
.tab-item:first-child::before {
    @apply border-l-0;
}
.theme-dark .tab-item::before {
    @apply border-theme-secondary-800;
}

.tabs-wrapper {
    @apply flex items-center px-4 mt-3 rounded-lg bg-theme-secondary-100 text-theme-secondary-500;
}

@screen sm {
    .tabs-wrapper {
        @apply px-8;
    }
}

.tabs-default {
    @apply px-4 py-4 font-semibold border-b-2 border-transparent cursor-pointer transition-default;
}

.tabs-default:hover {
    @apply text-theme-secondary-600 border-theme-secondary-300;
}

.tabs-active,
.tabs-active:hover {
    @apply text-theme-secondary-900 border-theme-primary-600;
}

.tabs-separator {
    @apply h-4 border-l border-theme-secondary-300;
}

/** Tab Badge **/
.info-badge {
    @apply ml-1 text-sm rounded bg-theme-primary-100;
    padding: 2px 6px;
}
.theme-dark .info-badge {
    @apply bg-theme-secondary-900 text-theme-secondary-700;
}

/** Links **/
.link {
    @apply no-underline text-theme-primary-600 transition-default;
}

.link:hover {
    @apply underline text-theme-primary-700;
}

.link:active {
    @apply text-theme-primary-400;
}

/** Avatar **/
.avatar-wrapper .avatar-circle {
    @apply bg-theme-primary-100;
}
.avatar-wrapper:hover .avatar-circle {
    @apply bg-theme-primary-200;
}

/** Pagination **/
.pagination-wrapper {
    @apply flex flex-col;
}

.pagination-pages-mobile {
    @apply flex justify-center px-2 mb-3 rounded bg-theme-primary-100;
}

.pagination-button-mobile {
    @apply flex justify-center flex-1;
}

.pagination-pages {
    @apply hidden px-2 rounded bg-theme-primary-100;
}

.theme-dark .pagination-pages-mobile {
    @apply bg-theme-secondary-800;
}

.theme-dark .pagination-pages {
    @apply bg-theme-secondary-800;
}

@media screen and (min-width: 450px) {
    .pagination-wrapper {
        @apply block;
    }

    .pagination-pages-mobile {
        @apply hidden;
    }

    .pagination-button-mobile {
        @apply flex-initial;
    }

    .pagination-pages {
        @apply flex;
    }
}

/** Modal **/
.modal-content {
    @apply relative mx-auto bg-white rounded-lg shadow-2xl;
    width: calc(100vw - 32px);
    max-height: calc(100vh - 4rem);
}
.theme-dark .modal-content {
    @apply bg-theme-secondary-900;
}

.modal-close {
    @apply absolute top-0 right-0 w-10 h-10 mt-4 mr-4 rounded text-theme-secondary-700 bg-theme-secondary-100 transition-default;
}
.theme-dark .modal-close {
    @apply bg-theme-secondary-800 text-theme-secondary-600;
}

.modal-close:hover {
    @apply shadow-lg bg-theme-secondary-300;
}
.theme-dark .modal-close:hover {
    @apply bg-theme-secondary-700 text-theme-secondary-500;
}

@screen sm {
    .modal-content {
        width: calc(100vw - 48px);
        max-height: calc(100vh - 6rem);
    }
}

@screen lg {
    .modal-content {
        @apply w-full;
        max-height: calc(100vh - 8rem);
    }
}

.modal-buttons {
    @apply flex flex-col-reverse justify-end;
}

.modal-buttons > *:not(:first-child) {
    @apply mb-3;
}

@screen sm {
    .modal-buttons {
        @apply flex-row;
    }

    .modal-buttons > *:not(:first-child) {
        @apply mb-0 ml-3;
    }
}

/** Link Description Block **/
.description-block {
    @apply flex flex-col p-10 border-2 rounded-lg border-theme-secondary-200 transition-default;
}

.description-block-link:hover {
    @apply bg-white shadow-lg cursor-pointer size-increase;
}

.description-block-link:hover .link {
    @apply underline text-theme-primary-700;
}

/** Link Collection **/
.link-collection > div:not(:last-child) {
    @apply border-b border-theme-secondary-200;
}

@media (min-width: 640px) and (max-width: 1023px) {
    .link-collection > div:nth-child(2n + 1):nth-last-child(-n + 2),
    .link-collection > div:nth-child(2n + 1):nth-last-child(-n + 2) ~ div {
        @apply border-b-0;
    }
}

@screen lg {
    .link-collection > div:nth-child(3n + 1):nth-last-child(-n + 3),
    .link-collection > div:nth-child(3n + 1):nth-last-child(-n + 3) ~ div {
        @apply border-b-0;
    }
}

/** Navbar **/
.navbar-mobile-link {
    @apply flex items-center block w-full py-3 pl-8 font-semibold border-white border-l-3;
}
.theme-dark .navbar-mobile-link {
    @apply border-theme-secondary-900;
}

.navbar-mobile-link-current {
    @apply border-theme-primary-600 bg-theme-primary-100;
}
.theme-dark .navbar-mobile-link-current {
    @apply bg-theme-secondary-800 text-theme-secondary-200 border-theme-primary-600;
}

.navbar-mobile-link:not(.navbar-mobile-link-current) {
    @apply text-theme-secondary-900;
}
.navbar-mobile-link:not(.navbar-mobile-link-current):hover {
    @apply text-theme-primary-600;
}
.theme-dark .navbar-mobile-link:not(.navbar-mobile-link-current) {
    @apply text-theme-secondary-200;
}

/** Circled Icon **/
.circled-icon {
    @apply flex items-center justify-center border-2 rounded-full w-11 h-11;
}
