html {
    font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

.semibold {
    font-family: "Inter Semibold";
}

/* FiraMono */
@font-face {
    font-family: "FiraMono";
    src: url("../fonts/FiraMono-Regular.otf");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "FiraMono";
    src: url("../fonts/FiraMono-RegularItalic.otf");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "FiraMono";
    src: url("../fonts/FiraMono-Bold.otf");
    font-weight: 700;
    font-display: swap;
}
