/* General */
.input-label {
    @apply flex text-sm font-semibold leading-5 text-theme-secondary-700 transition-default;
}

.input-label--toggle {
    @apply text-base font-semibold leading-5 text-theme-secondary-700 transition-default mr-3;
}

.input-wrapper {
    @apply mt-2 relative rounded-md shadow-sm text-theme-secondary-900;
}
.theme-dark .input-wrapper {
    @apply text-theme-secondary-200;
}

.input-tooltip {
    @apply ml-2 flex items-center justify-center text-white bg-theme-secondary-700 rounded-full w-4 h-4 text-sm;
}

.input-text {
    @apply form-input px-4 py-3 block w-full transition-default;
}
.theme-dark .input-text {
    @apply bg-theme-secondary-900 border-theme-secondary-700;
}

.input-wrapper-with-icon {
    @apply mt-2 relative rounded overflow-hidden shadow-sm text-theme-secondary-900;
}

.input-text-with-icon {
    @apply input-text rounded-none;
}

.input-group:focus-within .input-label,
.input-group:hover .input-label {
    @apply text-theme-primary-600;
}

.input-group:focus-within .input-text {
    @apply border-theme-primary-600;
}

.input-group:focus-within .input-text-with-icon:read-only,
.input-text-with-icon:read-only,
.input-group:focus-within .input-text:read-only,
.input-text:read-only {
    @apply border-theme-secondary-400 bg-theme-secondary-100 cursor-not-allowed;
}

/* Radio buttons */
.input-radio {
    @apply h-4 w-4 text-theme-success-600 transition duration-150 ease-in-out;
}

.input-radio[disabled] {
    @apply border-theme-secondary-300 bg-theme-secondary-100 text-theme-secondary-300;
}

.input-radio:checked[disabled] {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

.form-radio:checked.radio-checkmark {
    @apply text-theme-success-500;
    padding: 2px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 17 13'%3E%3Cpath d='M13.9.2L6.4 7.4 2.9 4 .4 6.4l6 5.8 10-9.6L13.9.2z'/%3E%3C/svg%3E");
    background-origin: content-box;
}

/* Checkboxes */
.input-checkbox {
    @apply h-4 w-4 text-theme-success-600 transition duration-150 ease-in-out;
}

.input-checkbox[disabled] {
    @apply border-theme-secondary-300 bg-theme-secondary-100 text-theme-secondary-300;
}

.input-checkbox:checked[disabled] {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

/* Toggle */
.input-toggle-slide {
    @apply absolute h-2 w-9 mx-auto transition-colors duration-200 ease-in-out rounded-full bg-theme-secondary-300;
}
.theme-dark .input-toggle-slide {
    @apply bg-theme-secondary-800;
}

.input-toggle-button {
    @apply absolute left-0 inline-block w-5 h-5 transition-transform duration-200 ease-in-out transform bg-white rounded-full shadow;
}

.input-toggle-button-active {
    @apply translate-x-5 bg-theme-primary-600;
}
.input-toggle-button-active:hover {
    @apply shadow-outline;
}

.input-toggle-button-inactive {
    @apply translate-x-0 bg-theme-secondary-300;
}
.theme-dark .input-toggle-button-inactive {
    @apply bg-theme-secondary-700;
}

/* Switch (toggle alternative) */
.input-switch-button-left {
    @apply translate-x-0 bg-theme-primary-600;
}

.input-switch-button-right {
    @apply translate-x-5 bg-theme-primary-600;
}

.input-switch-button-left:hover,
.input-switch-button-right:hover {
    @apply shadow-outline;
}

/* Errors */
.input-group:focus-within .input-label--error,
.input-group:hover .input-label--error,
.input-label--error {
    @apply text-theme-danger-500;
}
.theme-dark .input-group:focus-within .input-label--error,
.theme-dark .input-group:hover .input-label--error,
.theme-dark .input-label--error {
    @apply text-theme-danger-400;
}

.input-text-with-icon--error,
.input-text--error {
    @apply pr-10 border-theme-danger-500;
}
.theme-dark .input-text-with-icon--error,
.theme-dark .input-text--error {
    @apply border-theme-danger-400;
}

.input-group:focus-within .input-text-with-icon--error,
.input-text-with-icon--error:focus,
.input-group:focus-within .input-text--error,
.input-text--error:focus {
    @apply border-theme-danger-300 shadow-outline-red;
}

.input-text-with-icon--error::placeholder,
.input-text--error::placeholder {
    @apply text-theme-danger-300;
}

.input-help--error {
    @apply mt-2 text-sm text-theme-danger-500;
}
