/* Table Styling */
.table-container table {
    @apply w-full h-0 text-left;
}

.table-container table thead {
    @apply text-sm font-semibold text-theme-secondary-500;
}

.table-container table thead tr {
    @apply text-left border-b border-theme-secondary-300;
}

.theme-dark .table-container table tbody tr,
.theme-dark .table-container table thead th:not(:last-child)::after,
.theme-dark .table-container table thead tr {
    @apply border-theme-secondary-800;
}

.table-container table thead th {
    @apply relative px-3 py-3;
}

.table-container table thead th:not(:last-child)::after {
    content: "";
    height: 50%;
    @apply absolute right-0 border-l border-theme-secondary-300;
}

.table-container table tbody td {
    @apply px-3 py-4 leading-5;
}

.table-container table tbody tr {
    @apply border-b border-dashed border-theme-secondary-300;
}

.table-container table tbody tr:last-child {
    @apply border-0;
}

.theme-dark .table-container {
    @apply text-theme-secondary-500;
}

/* Table Scrollbar */
.table-container .table-wrapper {
    scrollbar-color: #e5f0f8 #bad6f0;
}

.table-container .table-wrapper::-webkit-scrollbar {
    @apply rounded-lg bg-theme-primary-100;
    width: 6px;
    height: 6px;
}

.table-container .table-wrapper::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-theme-primary-200;
}

/* Table highlight & hover effect (requires to use `<x-ark-tables.cell` instead of a `td`) */
/* purgecss ignore */
.table-container table tbody td.table-cell {
    @apply px-0 py-0.5;
}

.table-container table > tbody > tr > td.table-cell:first-child > div::before,
.table-container table > tbody > tr > td.table-cell.first-cell > div::before,
.table-container table > tbody > tr > td.table-cell:last-child > div:before,
.table-container table > tbody > tr > td.table-cell.last-cell > div::before {
    content: "";
    @apply absolute top-0 block w-2 h-full border-t border-b border-transparent;
}

.table-container table > tbody > tr > td.table-cell:first-child > div::before,
.table-container table > tbody > tr > td.table-cell.first-cell > div::before {
    @apply left-0 -ml-2 border-l rounded-l-md;
}

.table-container table > tbody > tr > td.table-cell:last-child > div::before,
.table-container table > tbody > tr > td.table-cell.last-cell > div::before {
    @apply right-0 -mr-2 border-r rounded-r-md;
}

.table-container table > tbody > tr > td.table-cell > div:after {
    content: "";
    @apply absolute top-0 bottom-0 left-0 right-0 w-full h-full border-t border-b border-transparent pointer-events-none;
}

.table-container
    table
    > tbody
    > tr:hover
    > td.table-cell:first-child
    > div::before,
.table-container
    table
    > tbody
    > tr:hover
    > td.table-cell.first-cell
    > div::before,
.table-container
    table
    > tbody
    > tr:hover
    > td.table-cell:last-child
    > div:before,
.table-container
    table
    > tbody
    > tr:hover
    > td.table-cell.last-cell
    > div::before,
.table-container table > tbody > tr:hover > td.table-cell > div {
    @apply bg-theme-secondary-100;
}

.table-container
    table
    > tbody
    > tr[data-danger]:hover
    > td.table-cell:first-child
    > div::before,
.table-container
    table
    > tbody
    > tr[data-danger]:hover
    > td.table-cell.first-cell
    > div::before,
.table-container
    table
    > tbody
    > tr[data-danger]:hover
    > td.table-cell:last-child
    > div:before,
.table-container
    table
    > tbody
    > tr[data-danger]:hover
    > td.table-cell.last-cell
    > div::before,
.table-container table > tbody > tr[data-danger]:hover > td.table-cell > div {
    @apply bg-theme-danger-100;
}

.table-container
    table
    > tbody
    > tr[data-warning]:hover
    > td.table-cell:first-child
    > div::before,
.table-container
    table
    > tbody
    > tr[data-warning]:hover
    > td.table-cell.first-cell
    > div::before,
.table-container
    table
    > tbody
    > tr[data-warning]:hover
    > td.table-cell:last-child
    > div:before,
.table-container
    table
    > tbody
    > tr[data-warning]:hover
    > td.table-cell.last-cell
    > div::before,
.table-container table > tbody > tr[data-warning]:hover > td.table-cell > div {
    @apply bg-theme-warning-100;
}

.theme-dark
    .table-container
    table
    > tbody
    > tr:hover
    > td.table-cell:first-child
    > div::before,
.theme-dark
    .table-container
    table
    > tbody
    > tr:hover
    > td.table-cell.first-cell
    > div::before,
.theme-dark
    .table-container
    table
    > tbody
    > tr:hover
    > td.table-cell:last-child
    > div:before,
.theme-dark
    .table-container
    table
    > tbody
    > tr:hover
    > td.table-cell.last-cell
    > div::before,
.theme-dark .table-container table > tbody > tr:hover > td.table-cell > div {
    @apply bg-theme-secondary-800 !important;
}

@screen sm {
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.last-cell-sm
        > div::before {
        content: none;
    }
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.first-cell-sm
        > div::before {
        content: none;
    }
}

@screen md {
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.last-cell-md
        > div::before {
        content: none;
    }
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.first-cell-md
        > div::before {
        content: none;
    }
}

@screen lg {
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.last-cell-lg
        > div::before {
        content: none;
    }
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.first-cell-lg
        > div::before {
        content: none;
    }
}

@screen xl {
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.last-cell-xl
        > div::before {
        content: none;
    }
    .table-container
        table
        > tbody
        > tr
        > td.table-cell.first-cell-xl
        > div::before {
        content: none;
    }
}

.table-container table > tbody > tr[data-warning] > td.table-cell > div::before,
.table-container table > tbody > tr[data-warning] > td.table-cell > div {
    @apply bg-theme-warning-50;
}

.table-container table > tbody > tr[data-danger] > td.table-cell > div::before,
.table-container table > tbody > tr[data-danger] > td.table-cell > div {
    @apply bg-theme-danger-50;
}

.theme-dark
    .table-container
    table
    > tbody
    > tr[data-warning]
    > td.table-cell
    > div::before,
.theme-dark
    .table-container
    table
    > tbody
    > tr[data-warning]
    > td.table-cell
    > div::after {
    @apply border-theme-warning-500;
}

.theme-dark
    .table-container
    table
    > tbody
    > tr[data-danger]
    > td.table-cell
    > div::before,
.theme-dark
    .table-container
    table
    > tbody
    > tr[data-danger]
    > td.table-cell
    > div::after {
    @apply border-theme-danger-300;
}

.theme-dark
    .table-container
    table
    > tbody
    > tr[data-warning]
    > td.table-cell
    > div,
.theme-dark
    .table-container
    table
    > tbody
    > tr[data-danger]
    > td.table-cell
    > div,
.theme-dark
    .table-container
    table
    > tbody
    > tr[data-warning]
    > td.table-cell
    > div::before,
.theme-dark
    .table-container
    table
    > tbody
    > tr[data-danger]
    > td.table-cell
    > div::before {
    @apply bg-transparent;
}
/* purgecss end ignore */
