.toast {
    @apply text-sm text-theme-secondary-900 select-none p-4 rounded-xl;
}

.toast-info {
    @apply bg-theme-info-100 toast;
}
.toast-info .toast-close {
    @apply text-theme-info-600;
}
.toast-info .toast-close:hover {
    @apply text-theme-info-700;
}

.toast-success {
    @apply bg-theme-success-100 toast;
}
.toast-success .toast-close {
    @apply text-theme-success-600;
}
.toast-success .toast-close:hover {
    @apply text-theme-success-700;
}

.toast-warning {
    @apply bg-theme-warning-100 toast;
}
.toast-warning .toast-close {
    @apply text-theme-warning-600;
}
.toast-warning .toast-close:hover {
    @apply text-theme-warning-700;
}

.toast-error,
.toast-danger {
    @apply bg-theme-danger-100 toast;
}
.toast-error .toast-close,
.toast-danger .toast-close {
    @apply text-theme-danger-400;
}
.toast-error .toast-close:hover,
.toast-danger .toast-close:hover {
    @apply text-theme-danger-600;
}

.toast-hint {
    @apply bg-theme-secondary-100 toast;
}
.toast-hint .toast-close {
    @apply text-theme-secondary-600;
}
.toast-hint .toast-close:hover {
    @apply text-theme-secondary-700;
}

.toast-close {
    @apply w-7 h-7 cursor-pointer;
}

.toast-info a,
.toast-success a,
.toast-warning a,
.toast-error a,
.toast-danger a,
.toast-hint a {
    @apply font-semibold transition-default;
}

.toast-info a:hover,
.toast-success a:hover,
.toast-warning a:hover,
.toast-error a:hover,
.toast-danger a:hover,
.toast-hint a:hover {
    @apply underline;
}
