.toast {
    @apply relative inline-flex flex-col items-center max-w-4xl p-4 text-sm select-none text-theme-secondary-900 dark:text-theme-secondary-500 dark:bg-theme-secondary-800 sm:flex-row sm:space-x-4 rounded-xl;
}

.toast-body {
    @apply mt-4 text-center sm:pr-6 sm:mt-0 sm:text-left;
}

.toast-icon {
    @apply flex items-center justify-center flex-shrink-0 text-white rounded w-11 h-11;
}

.toast-button {
    @apply absolute top-0 right-0 flex items-center justify-center flex-shrink-0 m-4 rounded sm:m-0 sm:top-auto sm:right-auto sm:relative w-11 h-11 text-theme-secondary-900;
}


.toast-info {
    @apply bg-theme-primary-50;
}
.toast-warning {
    @apply bg-theme-warning-50;
}
.toast-danger {
    @apply bg-theme-danger-50;
}
.toast-hint {
    @apply bg-theme-hint-50;
}
.toast-success {
    @apply bg-theme-success-50;
}

.toast-info .toast-icon{
    @apply bg-theme-primary-600;
}
.toast-warning .toast-icon{
    @apply bg-theme-warning-600;
}
.toast-danger .toast-icon{
    @apply bg-theme-danger-400;
}
.toast-hint .toast-icon{
    @apply bg-theme-hint-500;
}
.toast-success .toast-icon{
    @apply bg-theme-success-600;
}

.toast-info .toast-button{
    @apply bg-theme-primary-100 hover:bg-theme-primary-200 dark:bg-theme-secondary-900 dark:text-theme-secondary-600 dark:hover:bg-theme-secondary-500 dark:hover:text-theme-secondary-400;
}
.toast-warning .toast-button{
    @apply bg-theme-warning-100 hover:bg-theme-warning-200 dark:bg-theme-secondary-900 dark:text-theme-secondary-600 dark:hover:bg-theme-secondary-500 dark:hover:text-theme-secondary-400;
}
.toast-danger .toast-button{
    @apply bg-theme-danger-100 hover:bg-theme-danger-200 dark:bg-theme-secondary-900 dark:text-theme-secondary-600 dark:hover:bg-theme-secondary-500 dark:hover:text-theme-secondary-400;
}
.toast-hint .toast-button{
    @apply bg-theme-hint-100 hover:bg-theme-hint-200 dark:bg-theme-secondary-900 dark:text-theme-secondary-600 dark:hover:bg-theme-secondary-500 dark:hover:text-theme-secondary-400;
}
.toast-success .toast-button{
    @apply bg-theme-success-100 hover:bg-theme-success-200 dark:bg-theme-secondary-900 dark:text-theme-secondary-600 dark:hover:bg-theme-secondary-500 dark:hover:text-theme-secondary-400;
}
