/** Third-Party **/
@import "./third-party/tailwindcss-custom-forms.css";

/** Custom **/
@import "./_alerts.css";
@import "./_animations.css";
@import "./_buttons.css";
@import "./_components.css";
@import "./_document.css";
@import "./_fonts.css";
@import "./_forms.css";
@import "./_general.css";
@import "./_slider.css";
@import "./_tables.css";
@import "./_toasts.css";
@import "./_variables.css";
