parameters:
    paths:
        - src
    level: 8
    ignoreErrors:
        - '#not allowed to extend#'
        # We are using nullable return types because there are cases where it makes no sense to throw an exception because a null value is to be expected.
        - '#has a nullable return#'
        - '#with a nullable type declaration#'
        - '#expects#'
    checkMissingIterableValueType: false
