<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="NunoMaduro\Collision\Adapters\Phpunit\Printer">
    <testsuites>
        <testsuite name="Analysis">
            <directory suffix="Test.php">./tests/Analysis</directory>
        </testsuite>
        <testsuite name="App">
            <directory suffix="Test.php">./tests/App</directory>
        </testsuite>
        <testsuite name="Domain">
            <directory suffix="Test.php">./tests/Domain</directory>
        </testsuite>
        <testsuite name="Support">
            <directory suffix="Test.php">./tests/Support</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <!-- Framework Code -->
            <directory suffix=".php">./app/Actions/Fortify</directory>
            <directory suffix=".php">./app/Actions/Jetstream</directory>
            <directory suffix=".php">./app/Console/Playbooks</directory>
            <directory suffix=".php">./app/Exceptions</directory>
            <directory suffix=".php">./app/Http/Middleware</directory>
            <directory suffix=".php">./app/Nova</directory>
            <directory suffix=".php">./app/Providers</directory>
            <directory suffix=".php">./app/View/Components</directory>
            <file>./app/Console/Commands/RunPlaybookCommand.php</file>
            <file>./app/Console/Kernel.php</file>
            <file>./app/Http/Kernel.php</file>
        </exclude>
    </coverage>
    <php>
        <!-- Framework -->
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="pgsql"/>
        <server name="DB_HOST" value="127.0.0.1"/>
        <server name="DB_PORT" value="5432"/>
        <server name="DB_DATABASE" value="homestead"/>
        <server name="DB_USERNAME" value="homestead"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener"/>
    </listeners>
</phpunit>
